<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.uri.wbl.tex_tronics.smartglove">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Second Activity -->
        <activity
            android:name=".activities.ConnectionSelection"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="landscape" />
        <!-- Third Activity -->
        <activity
            android:name=".activities.ExerciseSelection"
            android:parentActivityName=".activities.ConnectionSelection"
            android:screenOrientation="landscape" />
        <!-- Fourth Activity -->
        <activity
            android:name=".activities.ExerciseInstructions"
            android:parentActivityName=".activities.ExerciseSelection"
            android:screenOrientation="landscape" />
        <!-- Finish Activity -->
        <activity
            android:name=".activities.FinishActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="landscape" />
        <!-- Exercise Activities -->
        <activity
            android:name=".activities.GloveExerciseActivity"
            android:parentActivityName=".activities.ExerciseInstructions"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".activities.ScreenTapActivity"
            android:parentActivityName=".activities.ExerciseInstructions"
            android:screenOrientation="landscape" />

        <service android:name=".ble.BluetoothLeConnectionService"/>
        <!--<service android:name=".smart_glove.SmartGloveManagerService"/>-->
        <service android:name=".tex_tronics.TexTronicsManagerService"/>
        <service android:name=".mqtt.MqttConnectionService"/>
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <service android:name=".io.DataLogService"/>
    </application>

</manifest>