
{% extends "layout.html" %}

{%block content%}
    <img src="/static/images/home/smartglovelogo.png" class="center-img"/>
    <!-- <img src="/static/images/home/gifs/extended_arm.gif" />
    <img src="/static/images/home/gifs/finger_taps.gif" />
    <img src="/static/images/home/gifs/finger_to_nose.gif" />
    <img src="/static/images/home/gifs/hand_grasps.gif" />
    <img src="/static/images/home/gifs/heel_tap.gif" />
    <img src="/static/images/home/gifs/resting_hands.gif" />
 -->

{%endblock content%}
