
{% extends "layout.html" %}

{%block content%}
  <h1 >Welcome to ktube <h2>
    <form class="form-group" action="#">
    <div class="file-field">
        <div class="btn btn-primary btn-sm float-left">
        <span>Choose files</span>
        <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
      <!--  <input class="file-path validate" type="text" placeholder="Upload one or more files"> -->
        </div>
    </div>
    <div class ="form-group" >
            {{ form.submit(class ="btn btn-outline-info") }}
        </div>
    </form>

{%endblock content%}
