
{% extends "layout.html" %}

{%block content%}
  <h1 >Welcome to ktube <h2>
      <form method="POST" class="md-form" action="/upload" enctype = "multipart/form-data">
          <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
              <span for="inputFile">Choose file</span>
              <input type="file" name="inputFile" />
            </div>
            <div class="file-path-wrapper">
            </div>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </form>
    <div>


{%endblock content%}
