<!--
###########################
#  Author @Shehjar Sadhu  #
#  Date August 8th 2019   #
###########################
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <style> /* set the CSS */</style>

  <body>
    <h1 >Register here </h1>
    {% block content %}
    <div>
      <form method= "POST",action="">
          <!-- {{form.hidden_tag()}}-->
        <fieldset>
          <div>
         {{form.name.label}}
          </div>
          <div>
              {{form.name.email}}
            </div>
            <div>
                {{form.name.password}}
              </div>
              <div>
                  {{form.name.comfirm}}
                </div>
              <button href= "{{url_for('home')}}" >
                  {{form.name.submit}}
                </button>
        </fieldset>
    </div>
    {% endblock content %}

  </body>
